header {
  padding: 75px 0 0 0 ;
  text-align: center;
  background-image: url(raink.png);
  background-size: cover;
  border: 5px solid black;
  color: white;
  font-size: 100px;
  font-family: 'Bangers', cursive;
  text-shadow: 7px 7px  black;
  height: 250px;

  
}

h2 {
  background-image: url(pebbles.jpg);
  font-family: 'Bangers', cursive;
  padding: 25px;
  border: 5px solid black;
  text-align: center;
  text-shadow: 7px 7px black;
  color: white;
  font-size: 75px;
  background-size: auto;
  margin: 25px 100px 25px 100px;
  border-radius: 10px;
  
  
  
}

embed {
  border: 3px solid white;
  background: black;
  border-radius: 25px;
}

img:hover {
  background-image: url(smoke.jpg);
  transition-duration: 3s;
}

h2:hover {
  background-image: url(smoke.jpg);
  transition-duration: 5s;
  
}

h4{
  margin: 20px;
  border: 3px solid black;
  padding: 5px;
  border-radius: 25px;
  background-image: url(pebbles.jpg);
  font-family: 'Bangers', cursive;
  text-shadow: 2px 2px black;
  color: white;
  font-size: 25px;
}
h4:hover {
  cursor: pointer;
  background-image: url(smoke.jpg);
  transition-duration: 2s;
  transform: scale(1.25);
  transition: all 0.3s ease-in-out 0s;
  box-shadow: 3px 3px 5px black;
}

.flexy {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

body {
  display: inline;
  background-color: white;
  
}


.flex-container {
  display: flexbox;
  flex-direction: row;
}

.head {
  animation: head;
  animation-duration: 5s;
  animation-iteration-count: 1;
  

}

#head2:hover {
  color:skyblue;
  cursor: cell;
  animation: head2;
  animation-duration: 5s;
  animation-iteration-count: infinite;

}

@keyframes head {
  0% {
    property: first-value;
    opacity: .25;
    letter-spacing: -40px;
    font-size: 25px;
    
    
  }
  50% {
   letter-spacing: 40px;
  }

  100%{
    opacity: 1;
    text-shadow: 7px 7px black;
    
    
   

  }
}


@keyframes head2 {
  0% {
    
    color: hotpink;
  }
  25% {
    letter-spacing: 35px;
    transform: scale(1.25);
    transition: all 0.3s ease-in-out 0.2s;
   
  }
  50% {
    
    color: yellow;
  }
  75% {
    color: skyblue;
    
  }

  100% {
    letter-spacing: 2px;
    color: lime;
  }
}

.see {
  margin: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;

}




h1 {
  font-family: 'Bangers', cursive;
  text-shadow: 3px 3px black;;
  background-image: url(smokee.jpeg);
  background-size: cover;
 
  animation: see;
  animation-duration: 2s;
  animation-iteration-count: 1;
  border: 5px solid black;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  text-align: center;
  margin: 20px;
  color: white;
}

@keyframes see {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
